<section id="individual-post" role="article" aria-labelledby="post-title" class="post__individual-post">
    <header class="post__header">
        <div class="post__header__title">
            <h1 id="post-title" class="post__info-title"><%= post.title %></h1>
            <span class="post__info-author">Post by:
                <%= post.author.displayName ? post.author.displayName : post.author.username %>
            </span>
        </div>

        <div class="post__header__controls">
            <% if (isUserLoggedIn && user.username === post.author.username) { %>
            <a class="post__info-link" href="/dashboard/<%= user.username %>/posts/<%= post._id %>/edit-post">Edit</a>
            <form action="/posts/<%= post._id %>/delete" method="POST" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="post__info-link">Delete</button>
            </form>
            <% } %>
            <a class="post__info-link" href="/posts">Back &#187;</a>

            <span class="post__info-createdAt"><%= post.createdAt %></span>
        </div>
    </header>

    <article id="post-content" class="post__content" role="region" aria-label="Post Content">
        <%- post.content %>

        <div class="post__tags">
            <span class="post__tags_span">Tags: </span>
            <% post.tags.forEach(function(tag) { %>
            <a href="/posts?tags=<%= tag.name %>" class="post__tag">#<%= tag.name %></a>
            <% }); %>
        </div>
    </article>
</section>