<section class="new-post">
    <%- include("../../partials/users/user-header.ejs") %>


    <div>
        <h1 class="form__title">New Post</h1>

        <form id="newPostForm" action="/dashboard/<%= user.username %>/posts/new-post" method="POST" class="form">
            <fieldset class="form__fieldset">
                <label for="title" class="form__label">Title</label>
                <input type="text" id="title" name="title" placeholder="Post Title" aria-label="Title"
                    class="form__input" required>
            </fieldset>

            <fieldset class="form__fieldset">
                <label for="content" class="form__label">Content</label>
                <textarea id="content" name="content" aria-label="Content" class="form__textarea"
                    placeholder="Write your post content here..." required></textarea>
            </fieldset>

            <fieldset class="form__fieldset">
                <label for="tags" class="form__label">Tags</label>
                <input type="text" id="tags" name="tags" placeholder="Add tags separated by commas" aria-label="Tags"
                    class="form__input">
            </fieldset>

            <div class="form__group">
                <div class="form__subgroup">
                    <button id="createPostButton" name="createPostButton" type="submit" class="form__submit">Publish
                        Post</button>

                    <div class="form__subgroup-wrapper">
                        <button id="saveDraftButton" name="saveDraftButton" class="form__regular-button" type="button">
                            Draft</button>
                        <button id="deleteDraftButton" name="deleteDraftButton" class="form__regular-button"
                            type="button">&#10005</button>
                    </div>
                </div <% if (error) { %> <span id="error-message" role="alert" aria-label="<%= error %>"
                    class="form__error-message"><%= error %></span>
                <% } %>
            </div>
        </form>

        <article class="post__preview__article" id="post-preview">

        </article>
    </div>
</section>
<script type="module" nonce="<%= nonce %>">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    import DOMPurify from 'https://cdn.jsdelivr.net/npm/dompurify@3.0.9/+esm';

    document.addEventListener('DOMContentLoaded', () => {
        const contentEl = document.getElementById("content");
        const postPreview = document.getElementById("post-preview");
        const buttonEl = document.getElementById("createPostButton");

        const saveDraftButton = document.getElementById("saveDraftButton");
        const deleteDraftButton = document.getElementById("deleteDraftButton");

        const draft = localStorage.getItem('draft');
        if (draft) {
            const { title, content, tags } = JSON.parse(draft);
            document.getElementById("title").value = title;
            document.getElementById("content").value = content;
            document.getElementById("tags").value = tags;
        }

        const updatePreview = async () => {
            const parsedContent = await marked.parse(contentEl.value, {
                async: true,
                gfm: true,
                breaks: true
            });
            const sanitizedContent = await DOMPurify.sanitize(parsedContent);

            postPreview.innerHTML = sanitizedContent;
        };

        contentEl.addEventListener('input', updatePreview);
        updatePreview();

        const formEl = document.getElementById("newPostForm");
        saveDraftButton.addEventListener('click', (event) => {
            event.preventDefault();
            const draft = JSON.stringify({
                title: formEl.title.value,
                content: formEl.content.value,
                tags: formEl.tags.value
            });
            alert('Draft saved');
            localStorage.setItem('draft', draft);
        })

        deleteDraftButton.addEventListener('click', (event) => {
            event.preventDefault();
            alert('Draft deleted');
            localStorage.removeItem('draft');
        })

        formEl.addEventListener('submit', function() {
            buttonEl.disabled = true;
            buttonEl.textContent = "Publishing...";
        });
    });
</script>