<section class="dashboard">
    <%- include("../../partials/users/user-header.ejs") %>

    <div class="posts" aria-labelledby="postsHeading">
        <% if (posts && posts.length > 0) { %>
        <h2 id="postsHeading" class="screenreader">Posts</h2>
        <ul class="posts__list">
            <% posts.forEach((post) => { %>
            <li id="<%= post._id %>" class="posts__item">
                <div class="posts__header">
                    <h3 class="posts__title"><%= post.title %></h3>
                    <time class="posts__date" datetime="<%= post.createdAtISO %>"><%= post.createdAt %></time>
                </div>
                <p class="posts__summary"><%= post.summary %></p>
                <a href="/posts/<%= post._id %>/<%= post.slug %>" class="posts__link">Read more »</a>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
        <p class="posts__empty">No posts found.</p>
        <% } %>
    </div>
</section>