<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <% if (typeof keywords !== 'undefined' && keywords) { %>
    <meta name="keywords" content="<%= keywords %>" />
    <% } %>

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:site_name" content="Book of Shadows" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog.barataribeiro.com/" />
    <meta property="og:locale" content="en_US.utf-8" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.min.css" />

    <% if (typeof loadPrismCSS !== 'undefined' && loadPrismCSS) { %>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-material-oceanic.min.css">
    <% } %>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main class="container" role="main"><%- body %></main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>